<?xml version="1.0"?>
<launch>

    <rosparam file="$(find roboclaw_node)/config/control.yaml" command="load"/>
    <arg name="respawn" default="true" />
    <arg name="run_diag" default="false" />

    <node pkg="roboclaw_node" type="roboclaw_node.py" name="roboclaw_node" respawn="$(arg respawn)" output="screen">
    </node>

    <node if="$(arg run_diag)" pkg="diagnostic_aggregator" type="aggregator_node"
          name="diagnostic_aggregator">
        <rosparam command="load"
                  file="$(find roboclaw_node)/config/roboclaw_diag.yaml"/>
    </node>

</launch>
